.logo {
    height: 50px;
}

.offcanvas {
    width: 250px;
}

.logo-offcanvas {
    height: 40px;
}

.sidebar {
    width: 240px;
    transition: all 0.5s;
    background-color: var(--dominant-color);
}


.sidebar-li,
.router-link-active {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidebar-li:hover {
    background-color: var(--accent-color);
}

.router-link-active {
    background-color: var(--accent-color);
}

.sidebar-link {
    color: var(--accent-color);
}

.sidebar-li:hover a,
.router-link-active {
    color: #fff;
}

.link-offcanvas {
    color: var(--accent-color);
}

.active-offcanvas {
    background-color: var(--accent-color);
    color: #fff;
}