<div mat-dialog-content
    class="confirm-del-dialog-container d-flex flex-column align-items-center justify-content-center text-dark">
    <img src="../../../../assets/images/error.png" alt="error-img" class="error-img">
    <h2>Are you sure?</h2>
    <p class="text-center ">{{ data.message }}</p>
</div>
<div mat-dialog-actions class="d-flex align-items-center justify-content-center gap-3 pb-4">
    <button (click)="onNoClick()" class="btn btn-secondary px-5">No</button>
    <button (click)="onYesClick()" class="btn btn-danger px-5">Yes</button>
</div>