<div class="d-flex align-items-center justify-content-between ps-1 pe-2 py-1">
    <div class="d-flex align-items-center gap-1">
        <img src="../../../../assets/images/success-alert.png" alt="success-alert" class="success-alert-img">
        <span class="text-dark fw-bold"> {{ data.message }}</span>
    </div>
    <span matSnackBarActions>
        <button matSnackBarAction (click)="dismissWithAction()" class="border-0 bg-white ms-2"><fa-icon
                class="text-secondary" [icon]="faX"></fa-icon></button>
    </span>
</div>