.card-ice-cream {
    width: 18rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .9s;
    margin-bottom: 10px;
}

.flavor-container {
    left: -8px;
}

.flavor-container div {
    position: absolute;
    bottom: -17px;
    left: 0px;
    width: 0;
    height: 0;
    border-top: 8px solid var(--light-coral);
    border-bottom: 10px solid transparent;
    border-left: 8px solid transparent;
    z-index: -10;
}

.card-ice-cream:hover {
    transform: scale(1.1);
    margin-bottom: 18px;
}