<div class="d-flex align-items-center justify-content-between border-bottom">
    <h2 mat-dialog-title>Update Order</h2>
    <button mat-dialog-title (click)="onNoClick()" class="btn border-0 rounded-cirlce"><fa-icon
            [icon]="faX"></fa-icon></button>
</div>
<div mat-dialog-content class="update-order-dialog-container">
    <form [formGroup]="orderForm" class="py-2">
        <div class="form-group pb-3">
            <label for="orderTransactionStatus">Transaction Status:</label>
            <select id="orderTransactionStatus" formControlName="transactionStatus" class="form-select">
                <option [ngValue]="true">Paid</option>
                <option [ngValue]="false">Unpaid</option>
            </select>
        </div>
    </form>
</div>

<div mat-dialog-actions class="d-flex align-items-center justify-content-end gap-2 border-top pe-4">
    <button (click)="onNoClick()" class="btn btn-secondary px-4">Cancel</button>
    <button (click)="onSubmit()" [disabled]="orderForm.invalid" class="btn btn-success px-4">Save</button>
</div>