<div class="d-flex align-items-center justify-content-between border-bottom">
    <h2 mat-dialog-title>Update Book</h2>
    <button mat-dialog-title (click)="onNoClick()" class="btn border-0 rounded-cirlce"><fa-icon
            [icon]="faX"></fa-icon></button>
</div>
<div mat-dialog-content class="update-book-dialog-container">
    <form #bookForm="ngForm" class="py-2">
        <div class="form-group pb-3">
            <label for="bookTitle">Title:</label>
            <input type="text" class="form-control" id="bookTitle" name="title" [(ngModel)]="data.title" required>
        </div>
        <div class="form-group pb-3">
            <label for="bookAuthor">Author:</label>
            <input type="text" class="form-control" id="bookAuthor" name="author" [(ngModel)]="data.author" required>
        </div>
        <div class="form-group pb-3">
            <label for="bookPrice">Price:</label>
            <input type="number" class="form-control" id="bookPrice" name="price" [(ngModel)]="data.price" required>
        </div>
        <div class="form-group pb-3">
            <label for="bookImage">Image:</label>
            <input type="text" class="form-control" id="bookImage" name="imageUrl" [(ngModel)]="data.imageUrl" required>
        </div>
        <div class="form-group pb-3">
            <label for="bookDescription">Description:</label>
            <textarea rows="3" class="form-control" id="bookDescription" name="description"
                [(ngModel)]="data.description" required></textarea>
        </div>
        <div class="form-group pb-3">
            <label for="bookPublishedDate">Published Date:</label>
            <input type="date" class="form-control" id="bookPublishedDate" name="publishedDate"
                [(ngModel)]="data.publishedDate" required>
        </div>
        <div class="form-group pb-3">
            <label for="bookQuantityInStock">Quantity In Stock:</label>
            <input type="number" class="form-control" id="bookQuantityInStock" name="quantityInStock"
                [(ngModel)]="data.quantityInStock" required>
        </div>
    </form>
</div>

<div mat-dialog-actions class="d-flex align-items-center justify-content-end gap-2 border-top pe-4">
    <button (click)="onNoClick()" class="btn btn-secondary px-4">Cancel</button>
    <button [mat-dialog-close]="data" [disabled]="!bookForm.valid" class="btn btn-success px-4">Save</button>
</div>