<div class="overflow-hidden"
    style=" background-image: url('../../../assets/images/snapedit_17078944709141.png'); background-size: cover;background-repeat:no-repeat;background-position: center;">
    <div
        class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column align-items-top justify-content-lg-between justify-content-md-between justify-content-sm-center justify-content-center login-section gap-2 px-lg-5 px-3 py-4">

        <div class="d-lg-flex d-md-flex d-sm-none d-none gap-2 pt-5 back-home">
            <a [routerLink]="['/home']"
                class="bg-white text-dark d-inline-flex rounded-circle border-0 align-items-center justify-content-center btn-icon"><fa-icon
                    [icon]="faAngleLeft" class=""></fa-icon></a>
            <a [routerLink]="['/home']" class="fw-bold text-decoration-none text-white">Back to Home</a>
        </div>
        <form [formGroup]="registerForm" class="bg-white shadow py-5 px-lg-5 px-4 rounded-4 login-container">
            <a [routerLink]="['/home']"> <img src="../../../../assets/images/logo.png" alt="logo" class="logo"></a>
            <div class="py-4" id="step-1" *ngIf="currentStep === 1">
                <h2 class="mt-2 fs-2">Welcome to Ice Cream Parlour</h2>
                <strong>Step 1 of 3</strong>
                <p class="fs-6 mb-4">Register you account</p>
                <div>
                    <div class="row ">
                        <div class="col-lg mb-3">
                            <label for="name" class="form-label h6">Name</label>
                            <input type="text" formControlName="name" class="form-control" id="name" />
                            <small
                                *ngIf="registerForm.get('name')!.hasError('required') && registerForm.get('name')!.touched"
                                class="text-danger d-inline-flex error-message">Name is required</small>
                            <small
                                *ngIf="registerForm.get('name')!.hasError('invalidName') && (registerForm.get('name')?.dirty || registerForm.get('name')!.touched)"
                                class="text-danger d-inline-flex error-message">Invalid Name</small>
                        </div>
                        <div class="col-lg mb-3">
                            <label for="phone" class="form-label h6">Phone</label>
                            <input type="text" formControlName="phone" class="form-control" id="phone" autofocus />
                            <small
                                *ngIf="registerForm.get('phone')!.hasError('required') && registerForm.get('phone')!.touched"
                                class="text-danger d-inline-flex error-message">Phone is required</small>
                            <small
                                *ngIf="registerForm.get('phone')!.hasError('invalidPhoneNumber') && (registerForm.get('phone')?.dirty || registerForm.get('phone')!.touched)"
                                class="text-danger d-inline-flex error-message">Invalid phone</small>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg mb-3">
                            <label for="usernameInput" class="form-label h6">Username</label>
                            <input type="text" formControlName="username" class="form-control" id="usernameInput" />
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('username')?.errors?.['required'] && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
                                Username is required.
                            </small>
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('username')?.errors?.['invalidUsername'] && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
                                Invalid username.
                            </small>
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('username')?.errors?.['invalidLength'] && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)">
                                Username must be between 6 - 30 characters long
                            </small>
                        </div>
                        <div class="col-lg mb-3">
                            <label for="passwordInput" class="form-label h6">Password</label>
                            <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password"
                                class="form-control" id="passwordInput" />
                            <div (click)="togglePasswordVisibility()" [class.zoom-in]="showPassword"
                                [class.zoom-out]="!showPassword" class="position-relative float-end text-dark pe-3 z-3 "
                                style="margin-top: -30px;">
                                <fa-icon [icon]="showPassword ? faEyeSlash : faEye" class="cursor-pointer"></fa-icon>
                            </div>
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('password')?.errors?.['required'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                                Password is required.
                            </small>
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('password')?.errors?.['invalidPassword'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                                Password must include: 1 uppercase, 1 lowercase, 1 digit, 1 special character.
                            </small>
                            <small class="text-danger d-inline-flex error-message"
                                *ngIf="registerForm.get('password')?.errors?.['invalidLength'] && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
                                Password must be between 6 - 30 characters long
                            </small>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label h6">Email</label>
                        <input type="email" formControlName="email" class="form-control" id="emailInput" />
                        <small class="text-danger d-inline-flex error-message"
                            *ngIf="registerForm.get('email')?.errors?.['required'] && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                            Email is required.
                        </small>
                        <small class="text-danger d-inline-flex error-message"
                            *ngIf="registerForm.get('email')?.errors?.['invalidEmail'] && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
                            Invalid email
                        </small>
                    </div>
                    <div class="d-flex align-items-center justify-content-center my-4">
                        <button type="button" class="border-0 bg-dark text-white px-4 py-2 rounded-5"
                            (click)="nextStep(registerForm)">
                            <fa-icon [icon]="faArrowRight"></fa-icon>
                        </button>
                    </div>
                    <div class="text-center">
                        <span>Already Have Account? </span><a [routerLink]="['/auth/login']"
                            class="text-decoration-none">Login</a>
                    </div>
                </div>
            </div>

            <div class=" py-4 " id="step-2" *ngIf="currentStep === 2">
                <h2 class="mt-2 fs-2">Welcome to Ice Cream Parlour</h2>
                <strong>Step 2 of 3</strong>
                <p class="fs-6 mb-3">Choose the service package that's right for you</p>

                <div
                    class="d-flex flex-lg-row flex-md-row flex-sm-column flex-column align-items-stretch justify-content-center gap-3 subscription-type">
                    <input type="radio" id="monthly" formControlName="subscriptionType" class="form-check-input d-none"
                        value="monthly" [checked]="selectedSubscription === 'monthly'"
                        (change)="selectSubscription('monthly')">
                    <label for="monthly" class="card col user-select-none cursor-pointer"
                        [class.selected]="selectedSubscription === 'monthly'">
                        <span class="fs-5 fw-bold text-center">Monthly</span>
                        <span class="fs-2 fw-bold text-center">$15</span>
                        <div class="card-body pt-2">
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Access to all website features.</span>
                            </div>
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Ability to view and submit recipes.</span>
                            </div>
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Eligibility for participation in contests.</span>
                            </div>
                        </div>
                    </label>
                    <input type="radio" id="yearly" formControlName="subscriptionType" class="form-check-input d-none"
                        value="yearly" [checked]="selectedSubscription === 'yearly'"
                        (change)="selectSubscription('yearly')">
                    <label for="yearly" class="card col  user-select-none cursor-pointer"
                        [class.selected]="selectedSubscription === 'yearly'">
                        <span class="fs-5 fw-bold text-center">Yearly</span>
                        <span class="fs-2 fw-bold text-center">$150</span>
                        <div class="card-body pt-2">
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Access to all website features.</span>
                            </div>
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Ability to view and submit recipes.</span>
                            </div>
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Eligibility for participation in contests.</span>
                            </div>
                            <div class="d-flex gap-2 py-1 text-feature">
                                <fa-icon [icon]="faCheck" class="check-icon"></fa-icon>
                                <span>Cost savings compared to the monthly plan.</span>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center my-4 gap-3">
                    <button type="button" class="border-0 bg-secondary text-white px-4 py-2 rounded-5"
                        (click)="previousStep(registerForm)">
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                    </button>
                    <button type="button" class="border-0 bg-dark px-4 text-white py-2 rounded-5"
                        (click)="nextStep(registerForm)">
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </button>
                </div>
                <div class="text-center">
                    <span>Already Have Account? </span><a [routerLink]="['/auth/login']"
                        class="text-decoration-none">Login</a>
                </div>
            </div>
            <div class=" py-4 " id="step-3" *ngIf="currentStep === 3">
                <h2 class="mt-2 fs-2">Welcome to Ice Cream Parlour</h2>
                <strong>Step 3 of 3</strong>
                <p class="fs-6 mb-3">Choose payment method</p>

                <div class="fs-5 text-center">
                    <p><strong>Safe for peace of mind.</strong><br><strong>Cancel online easily.</strong></p>
                </div>

                <div class="d-flex flex-column gap-3 py-3 payment-option">
                    <input type="radio" id="creditDebitCard" formControlName="paymentOption"
                        class="form-check-input d-none" value="creditDebitCard"
                        [checked]="selectedPaymentOption === 'creditDebitCard'"
                        (change)="selectPaymentOption('creditDebitCard')">
                    <label for="creditDebitCard" [class.selected]="selectedPaymentOption === 'creditDebitCard'">
                        <div class="d-flex align-items-center justify-content-between fs-5 border rounded px-2">
                            <div class="d-flex align-items-center">
                                <span>Credit or Debit Card</span>
                                <img src="../../../assets/images/visa-mastercard.png" alt="visa-mastercard"
                                    class="payment-img">
                            </div>
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </div>
                    </label>
                    <input type="radio" id="digitalWallet" formControlName="paymentOption"
                        class="form-check-input d-none" value="digitalWallet"
                        [checked]="selectedPaymentOption === 'digitalWallet'"
                        (change)="selectPaymentOption('digitalWallet')">
                    <label for="digitalWallet" [class.selected]="selectedPaymentOption === 'digitalWallet'">
                        <div class="d-flex align-items-center justify-content-between fs-5 border rounded px-2">
                            <div class="d-flex align-items-center">
                                <span>Digital Wallet</span>
                                <img src="../../../assets/images/digital-wallet-vnpay.png" alt="visa-mastercard"
                                    class="payment-img">
                            </div>
                            <fa-icon [icon]="faAngleRight"></fa-icon>
                        </div>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center my-4 gap-3">
                    <button type="button" class="border-0 bg-secondary text-white px-4 py-2 rounded-5"
                        (click)="previousStep(registerForm)">
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                    </button>
                    <button type="submit" (click)="register()"
                        class="border-0 bg-dark text-white px-5 py-2 rounded-5">Register</button>
                </div>
                <div class="text-center">
                    <span>Already Have Account? </span><a [routerLink]="['/auth/login']"
                        class="text-decoration-none">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>