.check-icon {
    color: #39af48;
}

.payment-img {
    height: 50px;
}

.subscription-type .selected {
    border: 2px solid var(--light-coral);
    color: var(--light-coral);
}

.payment-option .selected {
    border: 1px solid var(--light-coral);
    color: var(--light-coral);
    border-radius: 6px;
}

.google-logo {
    width: 20px;
    height: 20px;
}

.logo {
    width: 200px;
}

.login-section {
    min-height: 100vh;
}

.login-container {
    width: 550px;
    /* min-height: calc(100vh - 60px); */
}

.back-home {
    font-size: 14px;
}

.btn-icon {
    width: 25px;
    height: 25px;
}

.text-feature {
    font-size: 12px;
}


/* responsive */

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .logo {
        width: 180px;
    }

    .login-container {
        width: 450px;
    }
}

@media screen and (max-width: 465px) {
    .logo {
        width: 150px;
    }

    .login-container {
        width: 345px;
    }
}