<div class="mt-5">
    <div class="d-flex flex-lg-row flex-md-row flex-column-reverse justify-content-center row mx-0 ">
        <div class="col-lg-5 px-5 pb-5 d-flex flex-column justify-content-center">
            <p class="fs-1 lh-sm recipe-title">{{recipe.name}}</p>
            <div class="d-flex align-items-center gap-3 mb-4">
                <div class="d-flex align-items-center gap-lg-3 gap-md-2 gap-sm-2 gap-1 stars-rating">
                    <ng-container *ngFor="let star of getAvgStarArray()">
                        <fa-icon class="fs-5" [icon]="star.icon"></fa-icon>
                    </ng-container>
                </div>
                <span class="fs-6 text-secondary">{{avgRating}}</span>
                <span class="fs-6 text-secondary">({{recipeRatings.length}} Ratings)</span>
            </div>
            <p>Owner: <strong>{{recipe.submittedBy}}</strong></p>
            <p class="fs-5 lh-sm">{{recipe.description}}</p>
        </div>
        <div class="col mx-0 px-0">
            <img src="../../../assets/images/{{recipe.imageUrl}}" alt="{{recipe.name}}" class="w-100 recipe-main-img">
        </div>
    </div>
</div>


<div class="recipe-container">
    <div class="container pt-5">
        <hr class="border-2 border-dark ">

        <div class="row">
            <div class="col-lg-3">
                <p class="h2">Ingredients</p>
                <hr class="border-2 border-dark">
                <div [innerHTML]="recipe.ingredient"></div>
            </div>
            <div class="col">
                <p class="h2">Instructions</p>
                <hr class="border-2 border-dark">
                <div *ngFor="let step of recipe.steps; index as i">
                    <div class="fs-5 pb-3">
                        <div class="d-flex align-items-center justify-content-between pb-3">
                            <strong>Step {{i+1}}</strong>
                            <div (click)="toggleStep(step)" [ngClass]="{ 'active': step.isStepOpen }"
                                class="cursor-pointer plus-minus"></div>
                        </div>
                        <div [@fadeInOut]="step.isStepOpen ? 'open' : 'closed'">
                            <p class="pb-3" *ngIf="step.isStepOpen">{{step.content}}</p>
                            <img *ngIf="step.isStepOpen && step.imageUrl" src="../../../assets/images/{{step.imageUrl}}"
                                alt="{{step.imageUrl}}" class="w-100">
                        </div>
                    </div>
                    <hr class="border-2 border-dark">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container py-5">
        <p class="display-5 text-center pb-2 fw-bold">Other recipes</p>
        <div class='d-flex flex-wrap gap-lg-4 gap-md-3 gap-sm-2 gap-2 align-items-stretch justify-content-around'>
            <div *ngFor="let recipe of recipes; index as i " class="card card-recipe">
                <img src="../../../assets/images/{{recipe.imageUrl}}" class="card-img-top object-fit-cover"
                    alt="{{recipe.name}}">
                <div class="card-body rounded-bottom">
                    <div class="d-flex align-items-center justify-content-center overflow-hidden">
                        <p class="lh-sm two-line-text recipe-title">{{recipe.name}}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center overflow-hidden">
                        <span class="two-line-text">{{recipe.description}}</span>
                    </div>
                    <a [routerLink]="['/recipes/recipe-detail', recipe.id]"
                        class="d-flex align-items-center text-decoration-none text-dark mt-3 text-view">
                        View recipe
                        <fa-icon [icon]="faArrowRight"
                            class="d-flex align-items-center justify-content-center btn btn-outline-accent-color rounded-5 ms-2 view-recipe-btn"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <a [routerLink]="['/recipes']"
                class="btn-outline-accent-color rounded-5 px-5 fs-5 py-1 text-decoration-none">See all<fa-icon
                    [icon]="faArrowRight" class="small ps-1"></fa-icon></a>
        </div>
    </div>
</div>


<div class="container py-5" id="review">
    <div class="py-5 px-3 rounded-3 border shadow">
        <p class="display-5 text-center pb-2 fw-bold">Leave a review</p>
        <p class="h5 text-center">Click the stars to rate us*</p>
        <div class="d-flex align-items-center justify-content-center gap-3 mb-4">
            <div>
                <input type="radio" [(ngModel)]="recipeRatingDto.rating" name="rating" id="rate-5" value="5"
                    class="input-rating">
                <label for="rate-5" class="label-rating"><fa-icon [icon]="faStar"></fa-icon></label>
                <input type="radio" [(ngModel)]="recipeRatingDto.rating" name="rating" id="rate-4" value="4"
                    class="input-rating">
                <label for="rate-4" class="label-rating"><fa-icon [icon]="faStar"></fa-icon></label>
                <input type="radio" [(ngModel)]="recipeRatingDto.rating" name="rating" id="rate-3" value="3"
                    class="input-rating">
                <label for="rate-3" class="label-rating"><fa-icon [icon]="faStar"></fa-icon></label>
                <input type="radio" [(ngModel)]="recipeRatingDto.rating" name="rating" id="rate-2" value="2"
                    class="input-rating">
                <label for="rate-2" class="label-rating"><fa-icon [icon]="faStar"></fa-icon></label>
                <input type="radio" [(ngModel)]="recipeRatingDto.rating" name="rating" id="rate-1" value="1"
                    class="input-rating">
                <label for="rate-1" class="label-rating"><fa-icon [icon]="faStar"></fa-icon></label>
            </div>
        </div>
        <div>
            <textarea [(ngModel)]="recipeRatingDto.comment" name="comment" class="form-control"
                placeholder="Your comment..." rows="3"></textarea>
            <button type="submit" class="border-0 btn-accent-color rounded py-1 px-5 mt-2 fs-5 text-white"
                (click)="createRecipeRating()">Send</button>
        </div>
    </div>
    <hr class="border-2 border-dark">
    <div class="py-3 mx-0">
        <p class="display-6 fw-bold">{{avgRating}}/5</p>
        <div class="d-flex align-items-center gap-1 stars-rating">
            <ng-container *ngFor="let star of getAvgStarArray()">
                <fa-icon class="fs-4" [icon]="star.icon"></fa-icon>
            </ng-container>
        </div>
    </div>
    <div class="mt-4">
        <div class="d-flex" *ngFor="let recipeRating of recipeRatings; index as i">
            <div class="me-3">
                <img src="../../../assets/images/auth-img.png" alt="reviewer-avatar"
                    class="rounded-circle reviewer-avatar">
            </div>
            <div class="lh-sm">
                <span class="fs-7">{{recipeRating.name}}</span>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center stars-rating star-sm">
                        <ng-container *ngFor="let star of getStarArray(recipeRating.rating)">
                            <fa-icon [icon]="star.icon"></fa-icon>
                        </ng-container>
                    </div>
                    <span class="text-body-tertiary px-1">|</span>
                    <span class="text-secondary fs-8">{{recipeRating.ratingDate | date}}</span>
                </div>
                <p class="fs-6">{{recipeRating.comment}}</p>
            </div>
        </div>
    </div>
</div>