<div class="d-flex align-items-center justify-content-between border-bottom">
    <h2 mat-dialog-title>Edit Profile</h2>
    <button mat-dialog-title (click)="onNoClick()" class="bg-none border-0"><fa-icon [icon]="faX"></fa-icon></button>
</div>
<div mat-dialog-content class="update-user-dialog-container">
    <form [formGroup]="userInfoForm" class="py-2">
        <div class="form-group pb-3">
            <label for="userInfoName">Name:</label>
            <input type="text" class="form-control" id="userInfoName" formControlName="name" required>
        </div>
        <div class="form-group pb-3">
            <label for="userInfoPhone">Phone:</label>
            <input type="text" class="form-control" id="userInfoPhone" formControlName="phone" required>
        </div>
    </form>
</div>

<div mat-dialog-actions class="d-flex align-items-center justify-content-end gap-2 border-top pe-4">
    <button (click)="onNoClick()" class="border-0 rounded bg-secondary text-white py-1 px-4">Cancel</button>
    <button (click)="onSubmit()" [disabled]="userInfoForm.invalid"
        class="border-0 rounded btn-success text-white py-1 px-4">Save</button>
</div>