textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 100px !important;
}

:host ::ng-deep .ck-editor__editable_inline p {
    margin-bottom: 5px;
}

.selected-recipe-img {
    width: 200px;
    height: 180px;
}

.selected-step-img {
    width: 200px;
    height: 180px;
}