<div class="py-4 px-5 bg-light overflow-y-auto main-admin">
    <a [routerLink]="['/admin/recipe-management']" class="btn btn-outline-dark mb-3"><fa-icon
            [icon]="faArrowLeft"></fa-icon></a>
    <div class="h2 pb-3">Add New Recipe</div>
    <form #recipeForm="ngForm" (ngSubmit)="createRecipe()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="recipe.name" name="name" required>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                <label for="submittedBy" class="form-label">Submitted By</label>
                <input type="text" class="form-control" id="submittedBy" [(ngModel)]="recipe.submittedBy"
                    name="submittedBy" required>
            </div>
            <div class="col">
                <label for="imageUrl" class="form-label">Main Image</label>
                <input class="form-control" type="text" id="imageUrl" [(ngModel)]="recipe.imageUrl" name="imageUrl"
                    required>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea [(ngModel)]="recipe.description" id="description" name="description" class="form-control" rows="5"
                required></textarea>
        </div>
        <div class="mb-3">
            <label for="ingredient" class="form-label">Ingredients
            </label>
            <div class="content" role="main">
                <ckeditor [editor]="Editor" [(ngModel)]="recipe.ingredient" name="ingredient" id="ingredient"
                    [config]="editorConfig">
                </ckeditor>
            </div>

        </div>

        <div class="mb-3">
            <div class="d-flex align-items-center">
                <label class="form-label m-0">Instructions</label>
            </div>

            <div *ngFor="let step of recipe.steps; let i = index" class="ms-3 mt-3">
                <div class="d-flex align-items-center gap-3 pb-3">
                    <button type="button" class="border-0 bg-light" (click)="toggleStep(i)">
                        <fa-icon [icon]="stepOpenStates[i] ? faAngleUp : faAngleDown" class="pe-2"></fa-icon>
                        <strong>Step {{ i + 1}}</strong>
                    </button>

                    <button type="button" class="btn btn-outline-danger" (click)="removeStep(i)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
                <div [hidden]="!stepOpenStates[i]" [@fadeInOut]="stepOpenStates[i] ? 'open' : 'closed'">
                    <div class="mb-2">
                        <label class="form-label" for="stepContent{{ i }}">Content</label>
                        <textarea id="stepContent{{ i }}" [(ngModel)]="step.content" name="content{{ i }}"
                            class="form-control" rows="4" required></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="illustrationImage{{ i }}" class="form-label">Illustration Image</label>
                        <input id="illustrationImage{{ i }}" [(ngModel)]="step.imageUrl" name="imageUrl{{ i }}"
                            class="form-control" type="file" required>
                    </div>
                </div>
                <hr class="border-1 border-dark">
            </div>
            <button class="btn btn-outline-success d-flex align-items-center ms-2" (click)="addStep($event)"><span>Add
                    step</span><fa-icon [icon]="faPlus" class="ps-1"></fa-icon> </button>
        </div>


        <button class="btn btn-success px-5" [disabled]="!recipeForm.valid" type="submit">Save</button>
    </form>
</div>