.confirm-warning-dialog-container {
    min-width: 500px;
}

.warning-img {
    width: 100px;
    height: 100px;
}


/* responsive */

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .confirm-warning-dialog-container {
        min-width: 400px;
    }
}

@media screen and (max-width: 465px) {
    .confirm-warning-dialog-container {
        min-width: 300px;
    }

    .warning-img {
        width: 80px;
        height: 80px;
    }
}